<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Création personnage</title>
</head>
<body>
	<h2 th:text="${perso.name}"></h2>
	<ul>
		<li th:text="'Hp : ' + ${perso.hp}"></li>
		<li th:text="'Vigueur : ' + ${perso.vigueur}"></li>
		<li th:text="'Agilité : ' + ${perso.agilite}"></li>
		<li th:text="'Intelligence : ' + ${perso.intelligence}"></li>
		<li th:text="'Ruse : ' + ${perso.ruse}"></li>
		<li th:text="'Volonté : ' + ${perso.volonte}"></li>
		<li th:text="'Presence : ' + ${perso.presence}"></li>
		
	</ul>
	

</body>
</html>