<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Création personnage</title>
</head>
<body>
	<h2 th:text="${perso.name}"></h2>
	<ul>
		<li th:text="'Hp : ' + ${perso.hp}"></li>
		<li th:text="'Vigueur : ' + ${perso.vigueur}+ '/10'"></li>
		<li th:text="'Agilité : ' + ${perso.agilite}+ '/10'"></li>
		<li th:text="'Intelligence : ' + ${perso.intelligence}+ '/10'"></li>
		<li th:text="'Ruse : ' + ${perso.ruse}+ '/10'"></li>
		<li th:text="'Volonté : ' + ${perso.volonte}+ '/10'"></li>
		<li th:text="'Presence : ' + ${perso.presence}+ '/10'"></li>
		
	</ul>
	<nav th:insert="listPerso :: menu"/>
	

</body>
</html>